$primary-color: #FFB000;
$secondary-color: #615E5F;

$base-body-background: #eaeff3;
$base-color: #615E5F;
$base-heading-color: #111;
$base-heading-margin-top: 15px;
$navbar-nav-item-height: 60px;
$base-h1-font-size: 1.8rem;
$base-body-font-size: 14px;
$card-default-background: #ffffff;
